/* Remove box-Sizing in browser */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Remove border focus browser */
*:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.table {
    display: table;
}

/* Limitador de content */
.ctn-limit {
    max-width: 940px;
    margin: 0 auto;
    position: relative;
}

.-text-right {
    text-align: right;
}

.-text-left {
    text-align: right;
}

.hidden {
    display: none;
}